.checkout-container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: 'Arial', 'Helvetica', sans-serif;
}
.checkout-container h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}
.checkout-form{
    display: flex;
    flex-direction: column;
}
.checkout-form label{
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}
.checkout-form input, .checkout-form textarea{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}
.checkout-form input:focus, .checkout-container textarea:focus{
    border-color: #5a2498;
    outline: none;
}
.order-summary{
    margin-bottom: 15px;
}
.order-summary p{
    margin: 5px 0;
    font-size: 0.9rem;
    outline: none;
}
.checkout-items{
    margin-top: 20px;
}
.checkout-item{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.checkout-item h3{
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
}
.checkout-total{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}
.checkout-form button{
    padding: 10px;
    background-color: #5a2498;
    color: white;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.checkout-form button:hover{
    background-color: #ffffff;
    color: #5a2498;
}
@media (max-width: 768px){
    .checkout-container{
        padding: 15px;
    }
.checkout-container h2{
    font-size: 1.8rem;
}
.checkout-form label, .checkout-form input, .checkout-form textarea{
    font-size: 0.9rem;
}
.checkout-total{
    font-size: 1.1rem;
}
}
@media (max-width: 480px){
    .checkout-container{
        padding: 10px;
    }
    .checkout-container h2{
        font-size: 1.5rem;
    }
    .checkout-form label, .checkout-form input, .checkout-form textarea{
        font-size: 0.8rem;
    }
    .checkout-total{
        font-size: 1rem;
    }
}