.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
}
@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 576px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}